<section>

  <!-- ALERT -->

  <button mat-raised-button (click)="openCreateGroup()" color="accent"> Create a group </button>

  <ng-container *ngIf="(minorGroups$ | async) as minorGroups">
    <app-minor-groups *ngIf="minorGroups.length > 0" (parentDeleteGroup)="deleteGroup($event)"
      [minorGroups]="minorGroups"></app-minor-groups>

    <mat-divider></mat-divider>
  </ng-container>

  <ng-container *ngIf="(groups$ | async) as groups">
    <app-search-groups (parentDeleteGroup)="deleteGroup($event)" [groups]="groups" [searchField]="searchField"></app-search-groups>
  </ng-container>

</section>
