<section *ngIf="group">

  <h1> Members </h1>

  <mat-grid-list cols="2" rowHeight="40px">

    <ng-container *ngFor="let member of group.members">

      <mat-grid-tile> {{member.username}} </mat-grid-tile>

    </ng-container>

  </mat-grid-list>

  <mat-divider></mat-divider>

  <h1> Informations </h1>

  <p>
    Name : {{group.name}}
    <br>
    <span>Creator : {{creator}}</span>
    <br>
    Creation date : {{group.createdAt}}
  </p>

  <mat-divider></mat-divider>

  <h1> Challenges succeed </h1>

  <p> In progress </p>

  <mat-divider></mat-divider>

  <h1> Membership request </h1>

  <mat-list *ngIf="group.membershipRequests.length > 0">

    <ng-container *ngFor="let request of group.membershipRequests">

      <mat-list-item>
        {{request.username}}
        <button mat-raised-button color="accent" type="button" (click)="acceptRequest(request.id)"> Accept </button>
        <button mat-raised-button color="accent" type="button" (click)="declineRequest(request.id)"> Decline </button>
      </mat-list-item>

    </ng-container>

  </mat-list>

  <h1> Action </h1>

  <mat-list>

    <mat-list-item>
      <button> Leave this group </button>
      <button> Delete the group </button>
    </mat-list-item>

  </mat-list>

</section>
