<section *ngIf="group">

  <h1> Members </h1>

  <mat-grid-list cols="2" rowHeight="40px">

    <ng-container *ngFor="let member of group.members">

      <mat-grid-tile> {{member.username}} </mat-grid-tile>

    </ng-container>

  </mat-grid-list>

  <mat-divider></mat-divider>

  <h1> Informations </h1>

  <p>
    Name : {{group.name}}
    <br>
    <span>Creator : {{creator}}</span>
    <br>
    Creation date : {{group.createdAt}}
  </p>

  <mat-divider></mat-divider>

  <h1> Challenges succeed </h1>

  <p> In progress </p>

  <mat-divider></mat-divider>

  <h1> Membership request </h1>

  <mat-list *ngIf="group.membershipRequests.length > 0">

    <ng-container *ngFor="let request of group.membershipRequests">

      <mat-list-item>
        {{request.username}}
        <div id="requestButtons" *ngIf="isCreator">
          <button mat-raised-button color="accent" type="button" (click)="acceptRequest(request.id)"> Accept </button>
          <button mat-raised-button color="accent" type="button" (click)="declineRequest(request.id)"> Decline </button>
        </div>

      </mat-list-item>

    </ng-container>

  </mat-list>

  <ng-container *ngIf="isCreator || isMember">

    <mat-divider></mat-divider>

    <h1> Action </h1>

    <mat-list>

      <mat-list-item>
        <button mat-raised-button color="accent" type="button"> Leave this group </button>
        <button mat-raised-button color="accent" type="button" id="deleteGroupButton" *ngIf="isCreator"> Delete the group </button>
      </mat-list-item>

    </mat-list>

  </ng-container>

</section>
