<h1>Change password</h1>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <label>Password:</label>
    <input matNativeControl type="password" formControlName="password">
  </mat-form-field>

  <mat-form-field>
    <label>Confirm password:</label>
    <input matNativeControl type="password" formControlName="confirmPassword">
  </mat-form-field>

  <button type="submit" [disabled]="!passwordForm.valid"> Submit </button>
  <button (click)="cancel(passwordForm)"> Cancel </button>

</form>
