<h1>Change password</h1>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <label>Password:</label>
    <input matNativeControl type="password" formControlName="password">

    <mat-error *ngIf="passwordForm.get('password').hasError('required')"> Password required </mat-error>
    <mat-error *ngIf="passwordForm.get('password').hasError('minlength')"> At least 8 characters required </mat-error>

  </mat-form-field>

  <mat-form-field>
    <label>Confirm password:</label>
    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password :">

    <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('required')"> Confirm Password required </mat-error>
    <!-- <mat-error *ngIf="this.passwordForm.errors && this.passwordForm.errors.passwordsNotEqual"> Not equal to password </mat-error> -->

  </mat-form-field>
  <ng-container *ngIf="this.passwordForm.errors">
    <mat-error *ngIf="this.passwordForm.errors.passwordsNotEqual"> Not equal to password </mat-error>
  </ng-container>

  <button type="submit" [disabled]="!passwordForm.valid"> Submit </button>
  <button (click)="cancel(passwordForm)"> Cancel </button>

</form>
