<section *ngIf="(messages$ | async) as messages">

  <!-- connectionIsEstablished &&  -->
  <div id="chat">

    <ng-container *ngFor="let message of messages; let index = index">

      <div>
        <span class="author">{{ message.author.username }}</span>

        <button mat-button [matMenuTriggerFor]="belowMenu" *ngIf="isNotAMember">
          <i class="material-icons">
            more_horiz
          </i>
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="removeMessage(message.id)"> Remove</button>
        </mat-menu>

        <div class="contentMessage">
          {{ message.content }}
          <!-- {{ message.createdAt }} -->
        </div>

        <mat-divider *ngIf="index < messages.length - 1"></mat-divider>

      </div>

    </ng-container>

  </div>

  <div id="bottomChat">
    <input type="text" placeholder="Type a message" #text />
    <button type="button" (click)="sendMessage(text.value)"> Send </button>
  </div>

</section>
