<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Email *</mat-label>
    <input matNativeControl type="text" formControlName="email">

    <mat-error *ngIf="loginForm.get('email').hasError('required')"> Email required </mat-error>
    <mat-error *ngIf="loginForm.get('email').hasError('email')"> Wrong format email </mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Password *</mat-label>
    <input matNativeControl type="password" formControlName="password">

    <mat-error *ngIf="loginForm.get('password').hasError('required')"> Password required </mat-error>

  </mat-form-field>

  <button type="submit" [disabled]="!loginForm.valid"> Submit </button>
  <button (click)="cancel()"> Cancel </button>

</form>
