<mat-sidenav-container>

  <mat-sidenav mode="side" opened id="menu">

    <mat-list>
      <mat-list-item>
        <button mat-fab (click)="selectMenu('Settings')">
          <i class="material-icons">
            build
          </i>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-fab (click)="selectMenu('Chat')">
          <i class="material-icons">
            chat
          </i>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-fab (click)="selectMenu('Groups')">
          <i class="material-icons">
            group
          </i>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-fab (click)="selectMenu('Challenges')">
          <i class="material-icons">
            stars
          </i>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-fab (click)="selectMenu('Medias')">
          <i class="material-icons">
            perm_media
          </i>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin">
        <button mat-fab (click)="selectMenu('Admin space')">
          <i class="material-icons">
            security
          </i>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-fab (click)="logout()">
          <i class="material-icons">
            power_settings_new
          </i>
        </button>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-sidenav-container>

      <mat-sidenav mode="side" opened id="subMenu">

        <ng-container [ngSwitch]="selectedMenu">

          <ng-container *ngSwitchCase="'Settings'">

            <mat-list>
              <mat-list-item [routerLink]="['/settings']"> Modify informations </mat-list-item>
            </mat-list>

          </ng-container>
          <ng-container *ngSwitchCase="'Chat'">
            <p>search field</p>
            <mat-list>
              <ng-container *ngFor="let thread of threads">
                <!-- <mat-list-item [routerLink]="['/register', thread.id]"> threads01 </mat-list-item> -->
                <mat-list-item> threads01 </mat-list-item>
              </ng-container>
              <mat-list-item> add </mat-list-item>
            </mat-list>

          </ng-container>
          <ng-container *ngSwitchCase="'Groups'">

            <mat-list>
              <mat-list-item [routerLink]="['/groups']"> See all groups </mat-list-item>
              <mat-list-item (click)="ToMyGroup()" *ngIf="isInAGroup"> My group </mat-list-item>
              <mat-list-item [routerLink]="['/groups/create']" *ngIf="!isInAGroup && isAMember"> Create a group
              </mat-list-item>
            </mat-list>

          </ng-container>
          <ng-container *ngSwitchCase="'Challenges'">

            <mat-list>
              <!-- <mat-list-item [routerLink]="['/challenges']"> All challenges </mat-list-item>
              <mat-list-item [routerLink]="['/challenges/stats']"> Global stats </mat-list-item> -->
              <mat-list-item> All challenges </mat-list-item>
              <mat-list-item> Global stats </mat-list-item>
            </mat-list>

          </ng-container>
          <ng-container *ngSwitchCase="'Medias'">

            <!-- <a [routerLink]="['/medias']">Filter</a> -->
            <a>Filter</a>


          </ng-container>
          <ng-container *ngSwitchCase="'Admin space'">

            <mat-list>
              <mat-list-item [routerLink]="['/admin/challenges']"> Challenges </mat-list-item> -->
              <mat-list-item [routerLink]="['/admin/groups']"> Groups </mat-list-item>
              <mat-list-item> Challenges </mat-list-item>
              <mat-list-item [routerLink]="['/admin/data']"> Data management </mat-list-item>
              <mat-list-item [routerLink]="['/admin/user']"> User management </mat-list-item>
            </mat-list>

          </ng-container>
          <ng-container *ngSwitchDefault>
            <p>DEFAULT</p>
          </ng-container>
        </ng-container>

      </mat-sidenav>

      <mat-sidenav-content id="content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>

  </mat-sidenav-content>

</mat-sidenav-container>
